<ion-view view-title="Quién soy">
  <ion-content class="padding">
    <h1>Bio</h1>
    <p>Soy <strong>Pedro Garza Treviño</strong>, un ciudadano que ha estado siempre contigo al servicio de los guadalupenses. Busco tu confianza y tu voto para representarte dignamente en el Congreso de la Unión.</p>
    <p>Te invito a que hagamos sinergia en la etapa más importante en la vida política de nuestro Estado. Ya es tiempo de hacerlo bien; debemos tomar <strong>las mejores decisiones por el bien de nuestras familias y millones de nuevoleoneses.</strong></p>
  </ion-content>
</ion-view>
