<ion-view view-title="Quién soy">
  <ion-content>
    <img src="img/formal.png" alt="Foto formal" style="border-bottom: 15PX solid #cd5d1e;" class="img-responsive">
    <p class="padding">Soy <strong class="avenir"><span style="color: #2e3e6b;">Pedro</span> <span style="color: #cd5d1e;">Garza</span> <span style="color: #2e3e6b;">Treviño</span></strong>, un ciudadano que ha estado siempre contigo al servicio de los guadalupenses. Busco tu confianza y tu voto para representarte dignamente en el Congreso de la Unión.</p>
    <p class="padding">Te invito a que hagamos sinergia en la etapa más importante en la vida política de nuestro Estado. Ya es tiempo de hacerlo bien; debemos tomar <strong><span style="color: #2e3e6b;">las mejores decisiones</span> <span style="color: #cd5d1e;">por el bien de nuestras familias</span> <span style="color: #2e3e6b;">y todos los nuevoleoneses.</span></strong></p>
    <img src="img/guayabera-full.jpg" style="border-bottom: 15PX solid #2e3e6b;" alt="Foto con guayabera" class="img-responsive">
    <p class="padding">Te ofrezco mi capacidad, experiencia, trabajo y liderazgo para representarte como tu <strong><span style="color: #2e3e6b;">diputado Federal del distrito 11.</span></strong></p>
    <p class="padding">Cambiemos juntos el futuro de las próximas generaciones, súmate a la oportunidad histórica de tener el Nuevo León que merecemos...</p>

	<ul id="trayectoria" class="list">
		<li class="item item-divider">Mi trayectoria</li>
		<li class="item item-text-wrap"><code>1986 - 1988</code><br><strong>Regidor</strong> del R. Ayuntamiento en Guadalupe, N.L.</li>
		<li class="item item-text-wrap"><code>1994 - 1997</code><br><strong>Director de Tránsito y Vialidad</strong> de Guadalupe</li>
		<li class="item item-text-wrap"><code>1997 - 1998</code><br><strong>Secretario de Vialidad y Tránsito</strong> de Monterrey</li>
		<li class="item item-text-wrap"><code>1998 - 1999</code><br><strong>Subsecretario del Transporte</strong> en el Gobierno del estado de Nuevo León, implementando el servicio de Metrobus</li>
		<li class="item item-text-wrap"><code>2000 - 2003</code><br><strong>Presidente Municipal</strong> en Guadalupe. Logrando la más alta votación obtenida por candidatos panistas (146 mil votos)</li>
		<li class="item item-text-wrap"><code>2004 - 2010</code><br><strong>Director General</strong> de la Cuenca del Río Bravo de la <strong>CONAGUA</strong></li>
	</ul>	

  </ion-content>
</ion-view>
