<ion-view view-title="Propuestas">
	<ion-content>
	<ion-slide-box height="100%" width="100%"show-pager="true" does-continue="true" auto-play="true" slide-interval="5000">
		<ion-slide>
			<div class="box pro1">
				<h1><strong>Combatiré</strong> la corrupción desde el Congreso</h1>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro2">
				<h1><strong>Promoveré</strong> servicios médicos y educativos de mejor calidad para todos</h1>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro3">
				<h1><strong>Buscaré</strong> más presupuesto para Guadalupe y todo Nuevo León</h1>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro4">
				<h1><strong>Apoyaré</strong> la inversión y la promoción de más y mejores empleos</h1>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro5">
				<h1><strong>Legislaré</strong> por un auténtico medio ambiente sustentable</h1>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro6">
				<h1><strong>Exigiré</strong> que si baja el petroleo, <strong>¡que baje la gasolina!</strong></h1>
			</div>
		</ion-slide>
	</ion-slide-box>
  	</ion-content>
</ion-view>