<ion-view view-title="Propuestas">
	<ion-content>
	<ion-slide-box height="100%" width="100%" does-continue="true" auto-play="true" slide-interval="5999">
		<ion-slide>
			<style>
			.lead-propuesta {
				font-size: 1.3em;
			}
			</style>
			<div class="box pro1">
				<h2 class="avenir"><span><strong class="lead-propuesta">"COMBATIRÉ</strong><br>la corrupción desde el Congreso"</span></h2>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro2">
				<h2 class="avenir"><span><strong class="lead-propuesta">"PROMOVERÉ</strong><br> servicios médicos y educativos de mejor calidad para todos"</span></h2>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro3">
				<h2 class="avenir"><span><strong class="lead-propuesta">"BUSCARÉ</strong><br>más presupuesto para <strong>Guadalupe</strong> y todo Nuevo L"eón</span></h2>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro4">
				<h2 class="avenir"><span><strong class="lead-propuesta">"APOYARÉ</strong><br>la inversión y la promoción de más y mejores empleos"</span></h2>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro5">
				<h2 class="avenir"><span><strong class="lead-propuesta">"LEGISLARÉ</strong><br>por un auténtico medio ambiente sustentable"</span></h2>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro6">
				<h2 class="avenir"><span><strong class="lead-propuesta">"EXIGIRÉ</strong><br>que si baja el petroleo, <strong>¡que baje la gasolina!</strong>"</span></h2>
			</div>
		</ion-slide>
	</ion-slide-box>
  	</ion-content>
</ion-view>