<ion-view view-title="Propuestas">
	<ion-content>
	<ion-slide-box height="100%" width="100%" does-continue="true" auto-play="true" slide-interval="3500">
		<ion-slide>
			<style>
			.lead-propuesta {
				font-size: 1.3em;
				text-decoration: underline;
			}
			</style>
			<div class="box pro1">
				<h1><strong class="lead-propuesta">COMBATIRÉ</strong><br>la corrupción desde el Congreso</h1>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro">
				<h1><strong class="lead-propuesta">PROMOVERÉ</strong><br> servicios médicos y educativos de mejor calidad para todos</h1>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro3">
				<h1><strong class="lead-propuesta">BUSCARÉ</strong><br> más presupuesto para <strong>Guadalupe</strong> y todo Nuevo León</h1>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro">
				<h1><strong class="lead-propuesta">APOYARÉ</strong><br> la inversión y la promoción de más y mejores empleos</h1>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro5">
				<h1><strong class="lead-propuesta">LEGISLARÉ</strong><br> por un auténtico medio ambiente sustentable</h1>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="box pro">
				<h1><strong class="lead-propuesta">EXIGIRÉ</strong><br> que si baja el petroleo, <strong>¡que baje la gasolina!</strong></h1>
			</div>
		</ion-slide>
	</ion-slide-box>
  	</ion-content>
</ion-view>