<ion-view view-title="Trayectoria">
	<ion-content>
		<ul class="list">
			<li class="item item-text-wrap"><code>1986 - 1988</code><br><strong>Regidor</strong> del R. Ayuntamiento en Guadalupe, N.L.</li>
			<li class="item item-text-wrap"><code>1994 - 1997</code><br><strong>Director de Tránsito y Vialidad</strong> de Guadalupe</li>
			<li class="item item-text-wrap"><code>1997 - 1998</code><br><strong>Secretario de Vialidad y Tránsito</strong> de Monterrey</li>
			<li class="item item-text-wrap"><code>1998 - 1999</code><br><strong>Subsecretario del Transporte</strong> en el Gobierno del estado de Nuevo León, implementando el servicio de Metrobus</li>
			<li class="item item-text-wrap"><code>2000 - 2003</code><br><strong>Presidente Municipal</strong> en Guadalupe. Logrando la más alta votación obtenida por candidatos panistas (146 mil votos)</li>
			<li class="item item-text-wrap"><code>2004 - 2010</code><br><strong>Director General</strong> de la Cuenca del Río Bravo de la <strong>CONAGUA</strong></li>
		</ul>
	</ion-content>
</ion-view>