<ion-view view-title="Misión">
	<ion-content>
		<img src="img/stock1.jpg" alt="Imagen de Stock" class="img-responsive">
		<p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sapiente nisi dignissimos laboriosam, aliquid, aspernatur. Quo harum nisi animi fuga magnam esse cumque, laborum distinctio dolorum voluptatibus deleniti? Quibusdam, quisquam?</p>
		<p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quaerat animi ducimus fuga, nulla delectus modi quod voluptatum dignissimos porro, inventore exercitationem non ratione, velit, nemo explicabo corporis neque nisi?</p>
	</ion-content>
</ion-view>