<ion-view view-title="Objetivo">
	<ion-content>
		<img src="img/stock2.jpg" alt="Imagen de stock" class="img-responsive">
		<p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sapiente nisi dignissimos laboriosam, aliquid, aspernatur. Quo harum nisi animi fuga magnam esse cumque, laborum distinctio dolorum voluptatibus deleniti? Quibusdam, quisquam?</p>
		<p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, magnam provident. Amet reprehenderit eius provident molestiae culpa magnam velit saepe sit, ab rem dolor enim officia nisi, accusantium explicabo et.</p>
		<p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ut labore incidunt. Iure alias vero aspernatur, recusandae quos eaque excepturi perferendis saepe, tempore, qui, maxime incidunt doloremque facilis necessitatibus dolorem!</p>
	</ion-content>
</ion-view>