<ion-view view-title="Visión">
	<ion-content>
		<img src="img/stock3.jpg" alt="Imagen de Stock" class="img-responsive">
		<p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sapiente nisi dignissimos laboriosam, aliquid, aspernatur. Quo harum nisi animi fuga magnam esse cumque, laborum distinctio dolorum voluptatibus deleniti? Quibusdam, quisquam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure reiciendis eius doloribus quos amet, at maiores architecto est ipsam recusandae expedita accusantium facere illo excepturi ad quia quae, ducimus repudiandae.</p>
	</ion-content>
</ion-view>